body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #02292c;
    font-family: Arial, sans-serif;
    color: #ececec;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#play-button {
    background-color: #ececec;
    color: #f9982f;
    border: none;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#status {
    margin-top: 10px;
    font-weight: solid;
}